.DS_Store
Thumbs.db
*.log
*.tmp
.idea/
.vscode/
commands.txt

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

backend/venv/
backend/.env

# Celery beat schedule files
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# Node 
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/build/


# Docker
docker-compose.override.yml
